<h1>WebVoter</h1>
<p><strong>By John Huang</strong></p>
<p>Webvoter is a simple online tool to create polls and elections using a variety
of traditional and experimental voting methods. In additional to the traditional
"first-past-the-post", or <a href="https://en.wikipedia.org/wiki/Plurality_(voting)">plurality</a>, voting method, Webvoter includes:</p>
<h2>Ranked Ballot Methods</h2>
<p>Ranked methods rank candidates in order of most to least preferred. A sample ballot
for example is shown below: </p>
<p><img alt="Ranked ballot" src="../static/vote/ranking.png" /></p>
<p>Ranked methods include:</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Instant-runoff_voting">Instant runoff voting (IRV)</a></li>
<li>Top-two Automatic Runoff</li>
<li>Condorcet-compliant methods:<ul>
<li><a href="https://en.wikipedia.org/wiki/Ranked_pairs">Ranked Pairs</a></li>
<li><a href="https://electowiki.org/wiki/Smith//Minimax">Smith-minimax</a></li>
<li><a href="https://en.wikipedia.org/wiki/Black%27s_method">Black</a></li>
<li><a href="https://en.wikipedia.org/wiki/Copeland%27s_method">Copeland</a></li>
</ul>
</li>
<li><a href="https://en.wikipedia.org/wiki/Borda_count">Borda Count</a></li>
</ul>
<h2>Scored Ballot Methods</h2>
<p>Scoerd methods rate candidates from a scale. An example scored ballot is shown
below:</p>
<p><img alt="Scored ballot" src="../static/vote/scoring.png" /></p>
<p>Scored methods include:</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Score_voting">Scored voting</a></li>
<li><a href="https://en.wikipedia.org/wiki/Majority_judgment">Majority judgment</a></li>
<li><a href="https://electowiki.org/wiki/Smith//Score">Smith score</a></li>
<li><a href="https://en.wikipedia.org/wiki/STAR_voting">STAR voting (Score then Automatic Runoff)</a></li>
</ul>
<h2>Proportional Representation Methods</h2>
<p>Several voting methods have been devised in order to construct
proportionate representation when selecting multiple winners. These methods include:</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Single_transferable_vote">Single transferable Vote</a><ul>
<li><a href="https://en.wikipedia.org/wiki/Counting_single_transferable_votes#Hare">Hare surplus allocation</a></li>
<li><a href="https://en.wikipedia.org/wiki/Counting_single_transferable_votes#Gregory">Gregory surplus allocation</a></li>
</ul>
</li>
<li><a href="https://electowiki.org/wiki/Reweighted_Range_Voting">Reweighted Range Voting</a></li>
<li><a href="https://electowiki.org/wiki/Sequential_Monroe_voting">Sequential Monroe Voting</a></li>
</ul>
<h2>Source Code</h2>
<p>Source code for the WebVoter webapp, as well as the voting engine, can be found 
on Github:</p>
<ul>
<li><a href="https://github.com/johnh865/election_sim">votesim Python Package</a></li>
<li><a href="https://github.com/johnh865/webvoter">Site source code</a></li>
</ul>