{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous">

        <!-- <link rel="stylesheet" type="text/css" href="{% static 'vote/main.css' %}"> -->
        {% if title %}
            <title>Web Voter - {{title}}</title>
        {% else %}
            <title>Web Voter</title>
        {% endif %}
    </head>



    {% include "vote/navbar.html" %}

    <body>
        <main role="main" class="container">
            <div class="row">
            <div class="col-md-8">
                <!-- Display Messages -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger">
                        {% else %}
                            <div class="alert alert-{{ message.tags }}">
                        {% endif %}
                        {{ message | safe }}
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- Display Content -->
                {% block content %}{% endblock %}


                <!-- Display Latest Elections -->
                <br>
                <div class="container px-1">
                    <div class="row gx-1">
                        <div class="col">
                            {% include "vote/latest.html" %}
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </main>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>



    </body>
</html>