{% extends "vote/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <!-- Election Form -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Poll</legend>
                {{ e_form | crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" name="candidate_update" type="submit">Update</button>
            </div>

            <!-- Candidates Forms -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Candidates</legend>
                {{ c_form | crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" name="submit" type="submit">Create Election</button>
            </div>


        </form>
    </div>


    <!-- Display Latest Elections -->
    <br>
    <h3>Popular Polls</h3>
    <div class="container px-1">
        <div class="row gx-1">
            <div class="col">
                {% include "vote/tableview.html" %}
            </div>
        </div>
    </div>

{% endblock content %}